/*
  RULES:
    bc = border-color
    bw = border-width
    bs = border-style
    br = border-radius
*/

/* BORDER WIDTH ---------------------------------------------------- */
.bw-0\.3 {
  border-width: var(--r0\.3);
}
.bw-0 {
  border-width: 0;
}
.blw-1 {
  border-left-width: var(--r0\.1);
}
/* END BORDER WIDTH ------------------------------------------------ */

/* BORDER COLOR ---------------------------------------------------- */
.bc-dgr {
  border-color: var(--dark-grey);
}
.bc-dw {
  border-color: var(--dark-white);
}
.bc-g\:h:hover {
  transition: all linear 300ms;
  border-color: var(--gold);
}
/* END BORDER COLOR ------------------------------------------------ */

/* BORDER STYLE ---------------------------------------------------- */
.bs-s {
  border-style: solid;
}
.bls-s {
  border-left-style: solid;
}
/* END BORDER STYLE ------------------------------------------------ */

/* BORDER RADIUS --------------------------------------------------- */
.br-0\.5 {
  border-radius: var(--r0\.5);
}
.br-1 {
  border-radius: var(--r1);
}
.br-1\.5 {
  border-radius: var(--r1\.5);
}

.br-c {
  border-radius: 50%;
}
/* END BORDER RADIUS ----------------------------------------------- */
