/*
  RULES:
    d = display
    f = flex
    dfw = flex wrap
    dfai = flex align item
*/

/* DISPLAY --------------------------------------------------------- */
.d-b {
  display: block;
}
.d-n {
  display: none;
}
.d-ib {
  display: inline-block;
}
.d-i {
  display: inline;
}
/* END DISPLAY ----------------------------------------------------- */

/* Flex ------------------------------------------------------------ */
.d-f {
  display: flex;
}
/* End Flex -------------------------------------------------------- */

/* Flex ------------------------------------------------------------ */
.df-1 {
  flex: 1;
}
.df-2 {
  flex: 2;
}
/* End Flex -------------------------------------------------------- */

/* Flex Wrap ------------------------------------------------------- */
.dfw-w {
  flex-wrap: wrap;
}
/* End Flex Wrap --------------------------------------------------- */

/* Flex Direction -------------------------------------------------- */
.dfd-r {
  flex-direction: row;
}
/* End Flex Direction ---------------------------------------------- */

/* Flex Align Items ------------------------------------------------ */
.dfai-c {
  align-items: center;
}
/* End Flex Align Items -------------------------------------------- */

/* Flex Justify Content -------------------------------------------- */
.dfjc-sb {
  justify-content: space-between;
}
/* End Flex Justify Content -------------------------------------------------- */
