/*
  RULES:
    fs = font-size (only in rem)
    ff = font-family
    fw = font-weight
*/

/* FONT SIZE ------------------------------------------------------- */
.fs-1\.3 {
  font-size: var(--r1\.3);
}
.fs-1\.5 {
  font-size: var(--r1\.5);
}
.fs-1\.6 {
  font-size: var(--r1\.6);
}
.fs-1\.7 {
  font-size: var(--r1\.7);
}
.fs-2 {
  font-size: var(--r2);
}
.fs-2\.3 {
  font-size: var(--r2\.3);
}
.fs-2\.5 {
  font-size: var(--r2\.5);
}
.fs-3 {
  font-size: var(--r3);
}
.fs-3\.5 {
  font-size: var(--r3\.5);
}
.fs-4 {
  font-size: var(--r4);
}
.fs-6 {
  font-size: var(--r6);
}
.fs-8 {
  font-size: var(--r8);
}
/* END FONT SIZE --------------------------------------------------- */

/* FONT FAMILY ----------------------------------------------------- */
.ff-lora-r {
  font-family: "lora-regular", serif;
}
.ff-ppin-b {
  font-family: "poppins-bold", sans-serif;
}
.ff-ppin-m {
  font-family: "poppins-medium", sans-serif;
}
.ff-ppin-sb {
  font-family: "poppins-semibold", sans-serif;
}
/* END FONT FAMILY ------------------------------------------------- */

/* FONT WEIGHT ----------------------------------------------------- */
.fw-n {
  font-weight: 400;
}
.fw-b {
  font-weight: 500;
}
.fw-br {
  font-weight: 700;
}
/* END FONT WEIGHT ------------------------------------------------- */
