/* FONT FACE ------------------------------------------------------- */
@font-face {
  font-family: "lora-bold";
  src: url("../fonts/lora/lora-bold-webfont.eot");
  src: url("../fonts/lora/lora-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lora/lora-bold-webfont.woff") format("woff"),
    url("../fonts/lora/lora-bold-webfont.ttf") format("truetype"),
    url("../fonts/lora/lora-bold-webfont.svg#lorabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lora-bold-italic";
  src: url("../fonts/lora/lora-bolditalic-webfont.eot");
  src: url("../fonts/lora/lora-bolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lora/lora-bolditalic-webfont.woff") format("woff"),
    url("../fonts/lora/lora-bolditalic-webfont.ttf") format("truetype"),
    url("../fonts/lora/lora-bolditalic-webfont.svg#lorabold_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lora-italic";
  src: url("../fonts/lora/lora-italic-webfont.eot");
  src: url("../fonts/lora/lora-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lora/lora-italic-webfont.woff") format("woff"),
    url("../fonts/lora/lora-italic-webfont.ttf") format("truetype"),
    url("../fonts/lora/lora-italic-webfont.svg#loraitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lora-regular";
  src: url("../fonts/lora/lora-regular-webfont.eot");
  src: url("../fonts/lora/lora-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lora/lora-regular-webfont.woff") format("woff"),
    url("../fonts/lora/lora-regular-webfont.ttf") format("truetype"),
    url("../fonts/lora/lora-regular-webfont.svg#loraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/poppins/poppins-bold-webfont.eot");
  src: url("../fonts/poppins/poppins-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-bold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-bold-webfont.ttf") format("truetype"),
    url("../fonts/poppins/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-light";
  src: url("../fonts/poppins/poppins-light-webfont.eot");
  src: url("../fonts/poppins/poppins-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-light-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-light-webfont.ttf") format("truetype"),
    url("../fonts/poppins/poppins-light-webfont.svg#poppinslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/poppins/poppins-medium-webfont.eot");
  src: url("../fonts/poppins/poppins-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-medium-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-medium-webfont.ttf") format("truetype"),
    url("../fonts/poppins/poppins-medium-webfont.svg#poppinsmedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/poppins/poppins-regular-webfont.eot");
  src: url("../fonts/poppins/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-regular-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-regular-webfont.ttf") format("truetype"),
    url("../fonts/poppins/poppins-regular-webfont.svg#poppinsregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/poppins/poppins-semibold-webfont.eot");
  src: url("../fonts/poppins/poppins-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-semibold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-semibold-webfont.ttf") format("truetype"),
    url("../fonts/poppins/poppins-semibold-webfont.svg#poppinssemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END FONT FACE --------------------------------------------------- */

/* 
  DEFINE BASE VARIABLES
    --r: size by rem
    --rn: negative size by rem
    --p: size by pixel
    --vh: size by view height
    --vw: size by view width
    --pc: size by percent
*/

:root {
  /* COLOR --------------------------------------------------------- */
  --gold: rgb(200, 170, 110);
  --light-gold: #cdbd91;
  --white: #ffffff;
  --dark-white: rgba(0, 0, 0, 0.1);
  --black: #000000;
  --light-black: #222222;
  --grey: #888888;
  --dark-grey: rgba(255, 255, 255, 0.3);
  --light-grey: #ebebeb;
  /* END COLOR ----------------------------------------------------- */

  /* REM SIZE ------------------------------------------------------ */
  --rn5: -5rem;
  --rn4: -4rem;
  --rn2: -2rem;
  --rn1: -1rem;
  --r0\.05: 0.05rem;
  --r0\.1: 0.1rem;
  --r0\.2: 0.2rem;
  --r0\.3: 0.3rem;
  --r0\.4: 0.4rem;
  --r0\.5: 0.5rem;
  --r0\.6: 0.6rem;
  --r0\.7: 0.7rem;
  --r0\.8: 0.8rem;
  --r0\.9: 0.9rem;
  --r1: 1rem;
  --r1\.2: 1.2rem;
  --r1\.3: 1.3rem;
  --r1\.4: 1.4rem;
  --r1\.5: 1.5rem;
  --r1\.6: 1.6rem;
  --r1\.7: 1.7rem;
  --r1\.8: 1.8rem;
  --r1\.9: 1.9rem;
  --r2: 2rem;
  --r2\.3: 2.3rem;
  --r3: 3rem;
  --r3\.5: 3.5rem;
  --r4: 4rem;
  --r5: 5rem;
  --r6: 6rem;
  --r7: 7rem;
  --r8: 8rem;
  --r10: 10rem;
  --r15: 15rem;
  --r20: 20rem;
  --r22: 22rem;
  --r23: 23rem;
  --r25: 25rem;
  --r30: 30rem;
  --r35: 35rem;
  /* END REM SIZE -------------------------------------------------- */

  /* PIXEL SIZE ---------------------------------------------------- */
  --p1: 1px;
  --p2: 2px;
  --p3: 3px;
  --p4: 4px;
  --p5: 5px;
  --p6: 6px;
  --p7: 7px;
  --p8: 8px;
  --p9: 9px;
  --p10: 10px;
  --p15: 15px;
  --p20: 20px;
  --p30: 30px;
  --p60: 60px;
  --p120: 120px;
  --p150: 150px;
  /* END PIXEL SIZE ------------------------------------------------ */

  /* VIEW HEIGHT SIZE ---------------------------------------------- */
  --vh100: 100vh;
  /* END VIEW HEIGHT SIZE ------------------------------------------ */

  /* PERCENT SIZE -------------------------------------------------- */
  --pc15: 15%;
  --pc25: 25%;
  --pc50: 50%;
  --pc75: 75%;
  --pc100: 100%;
  /* END PERCENT SIZE ---------------------------------------------- */
}

/* NOTE: ALL SPACING AND SIZE SHOULD BE FOLLOWED REM UNIT */

* {
  box-sizing: border-box;
}

/* Mobile ---------------------------------------------------------- */
html {
  font-family: "lora-regular", serif;
  font-size: var(--p8);
  background-color: var(--light-black);
}
/* End Mobile ------------------------------------------------------ */

/* Tablet and above ------------------------------------------------ */
@media only screen and (min-width: 768px) {
  html {
    font-size: var(--p10);
  }
}
/* End Tablet and above -------------------------------------------- */
