/*
  RULES:
    w = width
    h = height
    mw = min-width
    mh = min-height
  UNIT: PREFER IN REM
*/

/* WIDTH ----------------------------------------------------------- */
.w-2 {
  width: var(--r2);
}
.w-4 {
  width: var(--r4);
}
.w-5 {
  width: var(--r5);
}
.w-6 {
  width: var(--r6);
}
.w-10 {
  width: var(--r10);
}
.w-15 {
  width: var(--r15);
}
.w-20 {
  width: var(--r20);
}
.w-30 {
  width: var(--r30);
}

.w-15p {
  width: var(--pc15);
}
.w-25p {
  width: var(--pc25);
}
.w-50p {
  width: var(--pc50);
}
.w-100p {
  width: var(--pc100);
}

.mw-4 {
  max-width: var(--r4);
}
.mw-20 {
  max-width: var(--r20);
}
/* END WIDTH ------------------------------------------------------- */

/* HEIGHT ---------------------------------------------------------- */
.h-0\.1 {
  height: var(--r0\.1);
}
.h-0\.2 {
  height: var(--r0\.2);
}
.h-0\.3 {
  height: var(--r0\.3);
}
.h-2 {
  height: var(--r2);
}
.h-4 {
  height: var(--r4);
}
.h-5 {
  height: var(--r5);
}
.h-6 {
  height: var(--r6);
}
.h-20 {
  height: var(--r20);
}

.h-100p {
  height: var(--pc100);
}
.h-100vh {
  height: var(--vh100);
}
.mh-100vh {
  min-height: var(--vh100);
}
/* END HEIGHT ------------------------------------------------------ */
